/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    // font-family: ;
}